.color {
  background-color: lightblue
}
/* Index page */
.logo {
  justify-content: center;
  margin-top: 300px
}
#homepagelogo {
  border-radius: 100%
}
.mff {
  justify-content: center;
}
.mff {
  font-size: 150px;
  font-family: Lobster, cursive;
}
.eaters, .owners {
  justify-content: center;
  /* width: 400px; */
}
/* #button1 {
  height: 150px;
  width: 300px;
  font-size: 150px;
  font-family: Lobster, cursive;
} */
#eaterbutton {
  height: 150px;
  width: 300px;
  font-size: 70px;
    font-family: Lobster, cursive;
}


/* Owner_signon page */
.signin {
  justify-content: center;
}

/* Truck create page */
.heading {
  justify-content: center;
}
.create {
  justify-content: center;
}
.radiobuttons {
  justify-content: space-around;
}

/* Owner Home page */

.truck {
  width: 75%;
}
.cards, .addtruck {
  justify-content: center;
}
.butt {
  border-radius: 100%;
  background-color: lightblue;
}
