.color {
  background-color: lightblue
}
/* Index page */
.logo {
  justify-content: center;
  margin-top: 300px
}
#homepagelogo {
  border-radius: 100%

}
.mff {
  justify-content: center;
  font-size: 150px;
  font-family: Lobster, cursive;
}

.eaters, .owners {
  justify-content: center;
}


#eaterbutton, #eaterbutton1  {
  height: 150px;
  width: 300px;
  font-size: 70px;
  font-family: Lobster, cursive;
}


/* Owner_signon page */

#createowner {
  margin-left: 75px;
}
#registerhead, #ownerhead {
  font-size: 50px;
}

#ownerhead {
  margin-top: 400px;
}
#userinput {
  height: 58px;
  width: 387px;
}
.signin {
  justify-content: center;
  font-family: Lobster, cursive;
  font-size: 35px;
  margin-top: 50px;
}

.btn {
  width: 250px;
}

/* Truck create page */

.container{
  margin-top: 400px;
  font-size: 35px;
}
.heading {
  justify-content: center;
  font-family: Lobster, cursive;
  font-size: 5rem;
}
.mom {
    font-size: 5rem;
}
.create {
  justify-content: center;
  align-items: center;
}
.radiobuttons {
  justify-content: space-around;
}

/* Owner Home page */

.truck {
  width: 75%;
}
.cards, .addtruck {
  justify-content: center;
}
.butt {
  border-radius: 100%;
  background-color: lightblue;
}

/* The switch - the box around the slider */
.switch {
 position: relative;
 display: inline-block;
 width: 60px;
 height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color: #2196F3;
}

input:focus + .slider {
 box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
 border-radius: 34px;
}

.slider.round:before {
 border-radius: 50%;
}
